<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd 
				      	http://www.springframework.org/schema/context  
				       	http://www.springframework.org/schema/context/spring-context.xsd
				       	http://www.springframework.org/schema/aop
				       	http://www.springframework.org/schema/aop/spring-aop.xsd">
				       	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"/>
		<property name="loginUrl" value="/login.jsp" />		
		<property name="filterChainDefinitions">
			<value>
				 /login.action = anon
			    /index.action = anon
                /refuse.action = anon
				/js/** = anon
                /css/** = anon
                /images/** = anon
                /addSubtractProcess/addSubtractProcess.action = roles["超级用户角色"] 
			</value>
		</property>
	</bean>
	
	
	<!-- securityManager安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="userRealm" />
	</bean>
	
	<!-- realm -->
	<bean id="userRealm" class="com.cn.test.controller.UserRealm">
	</bean>
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/> 
	

	
</beans>