body,ul,input,p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.panel-body{
	border:none;
}
.datagrid-header td,
.datagrid-body td{
    border-style: solid;
    border-color: #fff;
}
.datagrid-header-inner,.datagrid-row-alt{
	background-color: #E3E7F1;
}
.datagrid-header-inner {
	width: 100%;
}
.datagrid-btable{
	width: 100%;
}
.datagrid-btable tr{
	height: 45px;
}
.datagrid-htable{
	width: 100%;
	height: 50px;
}
input[type=checkbox]{
	margin: 0;
}


.webPosition{
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	background-color: #F4F4F5;
	padding-left: 10px;
	border-top:black 1px solid; 
	box-sizing: border-box;
}

.knowledgeViewContainer,
.systemOptionContainer{
	background-color: #999;
	overflow: hidden;
	border:black 1px solid;
	box-sizing: border-box;
}
.knowledge-left,
.systemOption-left{
	width: 300px;
	height: 637px;
	float: left;
	background-color: #666;
}
.knowledge-right,
.systemOption-right{
	margin-left: 300px;
	background-color: white;
	max-height: 637px;
	overflow-y: scroll;
	padding: 10px 30px;
}
.knowledge-left>p,
.systemOption-left>p{
	height: 55px;
	line-height: 55px;
	background-color: #E3E7F1;
	padding-left: 30px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: black 1px solid;
	box-sizing: border-box;
}
.knowledge-left>p>img,
.systemOption-left>p>img{
	vertical-align: middle;
	margin-right: 30px;
}
ul.knowledge-type,
ul.systemOption-type{
	width: 100%;
	height: 100%;
	background-color: #EFF1F6;
}
.knowledge-type li,
.systemOption-type li{
	font-size: 14px;
	list-style: none;
	line-height: 40px;
	height: 40px;
	padding-left: 40px;
	border-bottom: black 1px solid;
}
.knowledge-type li a,
.systemOption-type li a{
	color: black;
}

.knowledgeSearch,
.systemOptionSearch{
	width: 100%;
	overflow: hidden;
	border: black 1px solid;
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 10px 0;
}

.knowledgeSearch>form>p,
.systemOptionSearch>form>p{
	display: inline-block;
	height: 40px;
	margin:0 20px;
}
.systemOptionSearch>form>p>button{
	height: 35px;
	width: 70px;
}
.modal-body p{
	width: 50%;
	margin: 0 auto;
	font-size: 16px;
	margin-bottom: 10px;
}

.knowledgeSearch label,
.systemOptionSearch label{
	font-size: 14px;
	margin-left:30px;
}
.knowledgeSearch input,
.knowledgeSearch select,
.systemOptionSearch input,
.systemOptionSearch select{
	height: 30px;
	padding: 0;
}
.knowledgeSearch input[type='button'],
.systemOptionSearch input[type='button']{
	width: 100px;
	height: 32px;
	vertical-align: middle;
	margin-left: 50px;
}
.loadNextPage button{
	display: block;
	width: 440px;
	height: 40px;
	margin: 0 auto;
}
